
{{!-- <form action="/issues/{{issue._id}}?_method=PUT" method="POST">
    <input type="submit" value="Edit Issue">
</form> --}}
<div>
    <br>
<h2> Workout Tracker </h2>
</div>
<div>
    <br>
    {{!-- <a href="/meals/">Meal Tracker</a> --}}
    <a href="/meals" class="btn btn-primary btn-lg" role="button">Meal Tracker</a>
</div>
<div>
    <br>
    {{!-- <a href="/weightlosses/">Weight Loss Tacker</a> --}}
    <a href="/weightlosses" class="btn btn-primary btn-lg" role="button">Weight Loss Tracker</a>
</div>
<div>
    <br>
    {{!-- <a href="/workouts/new">:: Add New Workout ::</a> --}}
    <a href="/workouts/new" class="btn btn-primary btn-lg" role="button">:: Add New Workout ::</a>
</div>
{{#each  workouts}}
    <div>
        <br>
        <a href="/workouts/{{_id}}">{{notes}}</a>
        <p>{{date}}</p>
        <p>{{notes}}</p>
    </div>
    
{{/each}}