
{{!-- <form action="/issues/{{issue._id}}?_method=PUT" method="POST">
    <input type="submit" value="Edit Issue">
</form> --}}
<br>
<div>
<h2> Weight Loss Tracker </h2>
</div>
<div>
    <br>
    {{!-- <a href="/meals">Meal Tracker</a> --}}
    <a href="/meals" class="btn btn-primary btn-lg" role="button">Meal Tracker</a>
</div>
<div>
    <br>
    {{!-- <a href="/workouts/">Workout Tracker</a> --}}
    <a href="/workouts" class="btn btn-primary btn-lg" role="button">Workout Tracker</a>
</div>
<br>
{{!-- <a href="/weightlosses/new"> :: Add New Weight :: </a> --}}
<a href="/weightlosses/new" class="btn btn-primary btn-lg" role="button">:: Add New Weight ::</a>
{{#each  weightlosses}}
    <div>
        <br>
        <a href="/weightlosses/{{_id}}">{{notes}}</a>
        <p>{{date}}</p>
        <p>{{currentWeight}}</p>
        <p>{{notes}}</p>
    </div>
    
{{/each}}