
{{!-- <form action="/issues/{{issue._id}}?_method=PUT" method="POST">
    <input type="submit" value="Edit Issue">
</form> --}}

<h2> Meal Tracker </h2>
<a href="/meals/new">Add New Meal</a>
{{#each  meals}}
    <div>
        <a href="/meals/{{_id}}">{{description}}</a>
        <p>{{date}}</p>
        <p>{{description}}</p>
        <img src="{{imgLink}}" alt="Image of {{name}}">
    </div>
    
{{/each}}