
{{!-- <form action="/issues/{{issue._id}}?_method=PUT" method="POST">
    <input type="submit" value="Edit Issue">
</form> --}}
<div>
<h2> Meal Tracker </h2>
</div>
<div>
    {{!-- <a href="/weightlosses">Weight Loss Tracker</a> --}}
     <a href="/weightlosses" class="btn btn-primary btn-lg" role="button">Weight Loss Tracker</a>
</div>
<div>
    <a href="/workouts/">Workout Tracker</a>
</div>
<a href="/meals/new"> :: Add New Meal :: </a>
{{#each  meals}}
    <div>
        <a href="/meals/{{_id}}">{{description}}</a>
        <p>{{date}}</p>
        <p>{{description}}</p>
        <img src="{{imgLink}}" alt="Image of {{name}}">
    </div>
    
{{/each}}